.my-app {
  margin: 0;
  padding: 0;
  width: 1200px;
  display: grid;
  grid-template-columns: 2fr 10fr;
 /*  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr; */
  grid-template-areas: 'header header'
   'nav content';
}
.color-them {
  grid-area: content;
  background-color: rgb(187, 187, 46);
}
